/* 社交图标颜色 */
.icon-github {
    color: #333333;
    font-size: 22px;
}

.icon-qq {
    color: #1296db;
    font-size: 22px;

}

.icon-bilibili-line {
    color: #d4237a;
    font-size: 22px;

}

.icon-email1 {
    color: #42a5f5;
    font-size: 22px;

}

.icon-rss {
    color: #f78422;
    font-size: 22px;

}

